In [1]:
import pandas as pd
import numpy as np

Importing the data as a dataframe.

In [2]:
dataset = pd.read_csv("data/Data_Lv3_UMDOTS_Escooters.csv")

Lets take a look at a few data point

In [3]:
#dataset.head()
dataset.tail()

,Unnamed: 0,Unnamed: 0.1,CREATED,START,END,DISTANCE,RIDE_ID,CUSTOMER_ID,MINUTES,VEHICLE_TYPE,PATH,TIMESTAMPS,START LONG,START LAT,END LONG,END LAT
40320,40320,40320,2020-10-24 22:21:40+00:00,2020-10-24 22:21:40+00:00,2020-10-24 22:26:38+00:00,0.794,3304114,322401,5,Scooter,"{\n ""coordinates"": [\n [\n -76.943936...","[\n ""2020-10-24T22:21:46Z"",\n ""2020-10-24T22...",-76.943937,38.988110,-76.934104,38.992061
40321,40321,40321,2020-10-24 21:28:43+00:00,2020-10-24 21:28:43+00:00,2020-10-24 21:32:54+00:00,0.404,3303630,298095,5,Scooter,"{\n ""coordinates"": [\n [\n -76.935917...","[\n ""2020-10-24T21:28:49Z"",\n ""2020-10-24T21...",-76.935917,38.986389,-76.933818,38.992196
40322,40322,40322,2020-10-25 01:22:00+00:00,2020-10-25 01:22:00+00:00,2020-10-25 01:26:16+00:00,0.629,3305589,604319,5,Scooter,"{\n ""coordinates"": [\n [\n -76.940231...","[\n ""2020-10-25T01:22:07Z"",\n ""2020-10-25T01...",-76.940231,38.996377,-76.945600,38.992842
40323,40323,40323,2020-10-25 00:55:24+00:00,2020-10-25 00:55:24+00:00,2020-10-25 01:07:38+00:00,0.567,3305336,610943,13,Scooter,"{\n ""coordinates"": [\n [\n -76.944152...","[\n ""2020-10-25T00:55:30Z"",\n ""2020-10-25T00...",-76.944153,38.991956,-76.940216,38.987199
40324,40324,40324,2020-10-24 06:03:05+00:00,2020-10-24 06:03:05+00:00,2020-10-24 06:38:05+00:00,5.220,3299791,324757,35,Scooter,"{\n ""coordinates"": [\n [\n -76.934166...","[\n ""2020-10-24T06:03:12Z"",\n ""2020-10-24T06...",-76.934167,38.990645,-76.936088,38.982452

In [4]:
dataset.shape

(40325, 16)